#Backend
Backend/node_modules
Backend/generated/prisma
Backend/src/generated/prisma
Backend/prisma/migrations
Backend/.gitignore

#Frontend
Frontend/node_modules
Frontend/backend
Frontend/.pnp
Frontend/.pnp.js
Frontend/.gitignore

Frontend/coverage

Frontend/build

Frontend/.DS_Store
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local

Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*