@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-header {
  background: linear-gradient(90deg, #4FACFE 0%, #00F2FE 100%);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.text-gradient {
  background: linear-gradient(90deg, #4FACFE 0%, #00F2FE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}